*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.load-wrp{
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.load-ev-cont{
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    padding-right: 5px;
}
.load-ev-intro{
    width: 100%;
    height: 40px;
}
.load-bx{
    background-color: white;
    width: 100%;
    height: 650px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.reg-bx{
    /* border: 1px solid black; */
    width: 100%;
    height: 21%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.reg-bx > p{
    font-size: 20px;
}
.reg-frm{
    /* background-color: red; */
    width: 100%;
    height: 60%;
    display: flex;
    align-items: end;
    gap: 5%;
}
.inp-hld{
    /* background-color: yellowgreen; */
    width: 25%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.inp-hld > label{
    padding-left: 3px;
}
.inp-hld > input, .inp-hld > select{
    background-color: transparent;
    padding-left: 5px;
    height: 65%;
    border: 1px solid rgb(235, 233, 233);
    border-radius: 5px;
    outline: none;
}

.butt{
    justify-content: end;
}
.butt button{
    height: 65%;
    width: 55%;
    border-radius: 25px;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}