@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid springgreen;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .statbx{
    width: 48%;
    height: 47%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
  
.statbx p {
    font-size: 11px;
    background-color: rgba(4, 247, 126, 0.452);
    width: 70%;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0px;
    color: rgb(1, 143, 1);
    font-weight: 600;
    
}  
.red{
  background-color: rgba(255, 0, 43, 0.521) !important;
  color: rgb(143, 0, 0) !important;
}
.blue{
  background-color: rgba(0, 255, 255, 0.452) !important;
  color: rgb(0, 129, 129) !important;
}