.user-bar{
    width: 17%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    /* border-top-right-radius: 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    border-right: 1px solid rgb(39, 39, 39);
}
.user-bar-head{
    width: 100%;
    height: 10%;
    /* background-color: springgreen; */
    display: flex;
    padding-left: 15%;
    gap: 2%;
    align-items: center;
    color: white;
}
#user-head-i{
    color: white;
    font-size: 27px;
}
.user-opts{
    width: 80%;
    height: 60%;
    /* background-color: palegreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
    color: white;
}
#user-links{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    border-radius: 8px;
    gap: 8%;
}
#user-links > p{
    font-size: 13px;
}
#user-links:hover{
    background-color: orangered;
    color: black;
}
#user-i{
    font-size: 25px;
}